h1, h2, h3, h4, h5, h6{font-family: 'SF Pro Display';font-weight: 500 !important;letter-spacing: 1px}.piza-edite {width:200px; padding:20px;}p{font-family: 'SF Pro Display'}.input-margin, .register-panel form .css-13cymwt-control{margin-bottom: 15px}.frm-wdt{width: 500px;float: left}table.dataTable.no-footer{border: 1px solid #202938}table.dataTable tbody th, table.dataTable tbody td{padding: 8px 10px;border: 1px solid #202938}.container{max-width: 1380px !important;margin: 0 auto}.fc-event-time{display: none}.fc .fc-daygrid-event-harness{position: relative;background: #3A77B9;color: #fff;font-weight: 500;font-family: 'SF Pro Display' !important}nav.navbar a{cursor:pointer}.profile-avatar-imge svg{color: #fff;width: 20px;height: 20px;background: #3A77B9;position: absolute;z-index: 1001;bottom: -2px;right: 2px;border-radius: 2px}.notifications{background-image: linear-gradient(to top, #A1BB62 0%, #A1BB62 100%)}.notifications, .errornotifications{transform: translateY(0);margin: auto;border-radius: 4px;overflow: hidden;z-index: 1002;padding: 10px;position: fixed;animation-fill-mode: forwards;animation: slideLeftToRight 2s ease-out;animation-delay: .8s;animation-duration: .7s;margin-bottom: -40px;width: auto;float: right;color: #fff;top: 47px;right: 20px}.errornotifications{background-image: linear-gradient(to top, red 0%, red 100%)}.profile-avatar{width: 80px;height: 80px}nav.navbar{display: flex;align-items: center;justify-content: center;gap: 30px;position: relative}.profile-details img{width: 50px;height: 50px}.profile-details{margin-bottom: 10px; border-radius: max(0px, min(8px, (100vw - 4px - 100%) * 9999)) / 8px}.profile-details-inr{display: flex; padding-bottom: 15px; align-items: center;gap: 10px;border-bottom: 1px solid #F3F4F6;margin-bottom: 20px}.dash-profile{justify-content: end}button.profile-btn{background: #E4E6EB;width: 100%;float: right}.profile-avatar-imge img{border: 1px solid #3A77B9}.profile-sub-menu{position: absolute;top: 100%;padding: 16px;z-index: 1001;width: 250px;border-radius: 3px;right: 0;display: flex;flex-direction: column;box-shadow: 0px 0px 5px 0px #202938}.event-table tr, .event-table td{border: 1px solid #202938}button.mobile-menu-toggle{color: #fff;background: #3976BA;border-radius: 50px;width: 40px;height: 40px;font-size: 20px;display: flex;align-items: center;justify-content: center}@media screen and (min-width:901px){button.mobile-menu-toggle, .mobile-menu-open, .mobile-nav{display :none !important}}@media screen and (max-width:900px){.navbar, .mobile-nav{display:none !important}.mobile-menu-open{display: block !important}.mobile-menu-open a{color:#323232 !important;width:100% !important}.mobile-menu-open{display: flex !important;flex-direction: column !important;position: absolute;background:#fff !important;right: 21px;z-index: 10002;gap:10px;padding: 15px;top: 82%;box-shadow: 0px 0px 10px 0px #A0BD64;color: #323232 !important;width: 300px}.container{padding: 0px 5%}}.login-body, .register-login-panel{background-color: #f7f7f7}
.login-panel{max-width: 380px}.register-panel{max-width: 500px}.login-logo-snip, .signup-logo-snip{position: relative}.login-logo-snip a::before, .signup-logo-snip a::before{content: '';position: absolute;top: 0;left: 0;width: 3px;height: 100%;background-color: #3A77B9}.login-panel form, .register-panel form{padding: 0px 30px 0px 30px}.title-form, .title-signup{padding: 30px 30px 0px 30px}.signup-event, .login-event{padding: 0px 30px 30px 30px}.login-logo-snip img, .signup-logo-snip img{width: 300px}.login-panel, .register-panel{width: 100%;border-radius: 10px;background-color: #fff;box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);margin: 50px auto}.title-form span, .register-panel span, .login-panel span a, .register-panel span a{color: #3E7AB4;font-family: 'Montserrat', sans-serif !important;font-weight: 600}.login-panel button:hover,.register-panel button:hover{box-shadow: none}.login-panel .title-form{color:#4e6a42!important}.login-panel button, .register-panel button{background-color: #3E7AB2;border: 1px solid transparent;box-shadow: 0 0px 4px #9FBC60;border-radius: 50px;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;width: 100%;margin-bottom: 25px;margin-top: 15px}.login-panel button {margin-bottom: 10px !important;}.login-checkbos{display:flex; gap:15px; align-items: center; margin-bottom:14px;}.login-checkbos input {width: 20px; margin:0px !important; height: 15px;}
.login-panel form input, .register-panel form input, .register-panel form .css-13cymwt-control, .register-panel form .StripeElement{border:1px solid #ebebeb;border-radius: 50px;outline: none;margin-top: 10px;padding: 8px 14px}
.login-panel form input:focus, .register-panel form input:focus, .register-panel form .css-t3ipsp-control:focus, .register-panel form .css-13cymwt-control:focus{box-shadow: 0 0 5px #9FBB62 !important;border-color: #9FBB62 !important}.close-frm-icon{width: 30px;display: flex;align-items: center;justify-content: center;height: 30px;color: #fff;float: right}.all-events-download, .all-user-download{text-align:right;margin: 30px 0px}.all-events-download button, .edit-event-button, .all-user-download button{background: #A1BB62;width: auto !important;padding: 10px 20px;font-size: 17px}.errornotifiy{background:red !important;}.edit-event-button{padding: 5px 15px}@keyframes loadUpThankyou{0%{transform:translateX(100%);opacity:0}100%{transform:translateX(-10%);opacity:1 !important}}@keyframes loadUp{0%{transform:translateY(1rem);opacity:0}100%{transform:translateY(0);opacity:1}} .profile-sub-menu a {cursor:pointer;}
.register-panel select {
    border: 1px solid #ebebeb;
    border-radius: 50px;
    outline: none;
    margin-top: 10px;
    padding: 8px 14px;
}
.edit_contest_frm input, .edit_contest_frm textarea {
    margin-top:10px;
}
textarea {
    padding-left: 10px;
    padding-right: 10px;
}
.hdrtitle img {
    width: 300px;
}
.first-child-district {
    display:none;
}
.register-panel form  .css-13cymwt-control {
    padding: 2px 4px !important;
}
.full-day-radio input[type=checkbox] {
    width: 20px;
    height: 20px;
}
.video_tc {
    min-width: 150px !important;
}
.register-panel form .StripeElement {
    padding:12px !important;
}
.css-1cfo1cf input, .css-19bb58m input {
    border-radius: 0px  !important;
}
.css-1cfo1cf input:focus, input#react-select-2-input:focus {
    box-shadow: none !important;
}
.register-panel form label span {
    color:rgb(17 24 39/var(--tw-text-opacity)) !important;
}
.css-t3ipsp-control {
    border-radius: 50px !important;
    margin-top: 10px !important;
    cursor: text !important;
    padding: 2px 4px !important;
    border: 1px solid  !important;
    box-shadow: 0 0 5px #9fbb62 !important;
    margin-bottom: 15px !important;
    border-color: #9fbb62 !important;
}
.css-13cymwt-control {
    cursor: text !important;
}
.css-t3ipsp-control:hover, .css-t3ipsp-control:focus
 {
    border-radius: 50px !important;
    margin-bottom: 15px;
    padding: 2px 4px !important;
    box-shadow: 0 0 5px #9fbb62 !important;
    margin-top: 10px;
    border-color: #9fbb62 !important;
}
.register-panel form .StripeElement--focus {
    box-shadow: 0 0 5px #9fbb62 !important;
    border-color: #9fbb62 !important;

}
.css-t3ipsp-control:focus {
    box-shadow: 0 0 5px #9fbb62 !important;
}
.buttons-tab-row button {
    min-height: 35px !important;
    display: flex;
    width:100%;
    align-items: center;
}
.buttons-tab-row {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.edit-users {
    background: #A1BB62;
}

@media screen and (max-width:700px) {
    .hdrtitle img {
        width: 220px;
    }
}
div#myTable_filter {
    margin-bottom: 15px;
}
.user-bio-das p {
    font-size: 20px;
}
.edit-district .current-image-container {
    width: 45%;
    float: left;
    margin: 15px 10px;
    border: 1px solid #427EC7;
    border-radius: 5px;
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.full_form {
    box-shadow: 0px 0px 6px 0px #777;
    padding: 30px;
}
.full_form h1, .full_form h4, .view_details {
    background: #2D3748 !important;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}
.view_details button{
    background: #3A77B9;
    font-size: 18px;
}
.form_img_column img, .form_img_column video {
    margin-top: 45px;
    padding: 10px;
    min-height: 222px;
    object-fit: scale-down;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px #7c7c7c;
}